*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.ap_
*.dex
bin/
gen/
out/
.navigation/
*.log
*.hprof
*.class
*.jar
*.war
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/
lint/*.zip
build/
